@import '../../../../styles/tokens/color.scss';

.c-result {
  &__hgroup {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  &__calendar {
    width: 80px;
    margin-right: 16px;
  }
  &__title {
    color: $primaryDark;
    font-size: 28px;
    font-weight: bold;
  }

  &__items {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  &__back-button {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .c-result {
    &__title {
      font-size: 20px;
    }
    &__time {
      width: 60px;
    }
  }
}
